In [2]:
import pandas as pd
import sqlite3

# Create DataFrame for patrons
patrons_data = {
    'card_num': [54378, 94722, 45783, 90123],
    'name': ['Izzy', 'Maham', 'Jasmin', 'James'],
    'member_year': [2012, 2020, 2022, 1989],
    'total_fine': [9.86, 0, 2.05, 0]
}

patrons_df = pd.DataFrame(patrons_data)

# Create DataFrame for checkouts
checkouts_data = {
    'id': [567, 568, 569, 570],
    'start_date': ['2022-05-13', '2022-06-10', '2022-06-27', '2022-08-14'],
    'due_date': ['2022-05-27', '2022-06-24', '2022-07-11', '2022-08-28'],
    'card_num': [54378, 54378, 45783, 90123],
    'book_id': [638, 322, 156, 912]
}

checkouts_df = pd.DataFrame(checkouts_data)

# Connect to SQLite database (or create it)
conn = sqlite3.connect('library.db')

# Convert DataFrames to SQLite tables
patrons_df.to_sql('patrons', conn, if_exists='replace', index=False)
checkouts_df.to_sql('checkouts', conn, if_exists='replace', index=False)

# Verify the data by querying the tables
cursor = conn.cursor()
print("Patrons Table:")
cursor.execute('SELECT * FROM patrons')
for row in cursor.fetchall():
    print(row)

print("\nCheckouts Table:")
cursor.execute('SELECT * FROM checkouts')
for row in cursor.fetchall():
    print(row)

# Close the connection
conn.close()

Patrons Table:
(54378, 'Izzy', 2012, 9.86)
(94722, 'Maham', 2020, 0.0)
(45783, 'Jasmin', 2022, 2.05)
(90123, 'James', 1989, 0.0)

Checkouts Table:
(567, '2022-05-13', '2022-05-27', 54378, 638)
(568, '2022-06-10', '2022-06-24', 54378, 322)
(569, '2022-06-27', '2022-07-11', 45783, 156)
(570, '2022-08-14', '2022-08-28', 90123, 912)

In [8]:
import pandas as pd
import sqlite3

# Connect to SQLite database (or create it)
conn = sqlite3.connect('library.db')

# Data for the books DataFrame
books_data = {
    'id': [638, 912, 322, 156],
    'title': ['Being Mortal', 'Educated', 'Night', 'Where the Wild Things Are'],
    'author': ['Atul Gawande', 'Tara Westover', 'Elie Wiesel', 'Maurice Sendak'],
    'genre': ['Non-Fiction', 'Non-Fiction', 'Non-Fiction', 'Childrens'],
    'pub_year': [2015, 2018, 1956, 1963]
}

# Creating the books DataFrame
books_df = pd.DataFrame(books_data)
books_df.to_sql('books', conn, if_exists='replace', index=False)

# Verify the data by querying the tables
cursor = conn.cursor()
print("Books Table:")
cursor.execute('SELECT * FROM books')

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
print("Field names:", field_names)

for row in cursor.fetchall():
    print(row)
    
# Close the connection
conn.close()

Books Table:
Field names: ['id', 'title', 'author', 'genre', 'pub_year']
(638, 'Being Mortal', 'Atul Gawande', 'Non-Fiction', 2015)
(912, 'Educated', 'Tara Westover', 'Non-Fiction', 2018)
(322, 'Night', 'Elie Wiesel', 'Non-Fiction', 1956)
(156, 'Where the Wild Things Are', 'Maurice Sendak', 'Childrens', 1963)

In [3]:
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('library.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 4: Execute the query to select all data from the 'patrons' table
cursor.execute('SELECT * FROM patrons')

# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Print the fetched rows
for row in rows:
    print(row)

# Step 7: Close the connection
conn.close()

(54378, 'Izzy', 2012, 9.86)
(94722, 'Maham', 2020, 0.0)
(45783, 'Jasmin', 2022, 2.05)
(90123, 'James', 1989, 0.0)

In [4]:
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('library.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 4: Execute the query to select all data from the 'patrons' table
cursor.execute('SELECT * FROM checkouts')

# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Print the fetched rows
for row in rows:
    print(row)

# Step 7: Close the connection
conn.close()

(567, '2022-05-13', '2022-05-27', 54378, 638)
(568, '2022-06-10', '2022-06-24', 54378, 322)
(569, '2022-06-27', '2022-07-11', 45783, 156)
(570, '2022-08-14', '2022-08-28', 90123, 912)

In [5]:
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('library.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 4: Execute the query to select all data from the 'patrons' table
cursor.execute('SELECT * FROM patrons')

# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
print("Field names:", field_names)

# Step 8: Print the fetched rows
for row in rows:
    print(row)

# Step 9: Close the connection
conn.close()

Field names: ['card_num', 'name', 'member_year', 'total_fine']
(54378, 'Izzy', 2012, 9.86)
(94722, 'Maham', 2020, 0.0)
(45783, 'Jasmin', 2022, 2.05)
(90123, 'James', 1989, 0.0)

In [6]:
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('library.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 4: Execute the query to select all data from the 'patrons' table
cursor.execute('SELECT * FROM checkouts')

# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
print("Field names:", field_names)

# Step 8: Print the fetched rows
for row in rows:
    print(row)

# Step 9: Close the connection
conn.close()

Field names: ['id', 'start_date', 'due_date', 'card_num', 'book_id']
(567, '2022-05-13', '2022-05-27', 54378, 638)
(568, '2022-06-10', '2022-06-24', 54378, 322)
(569, '2022-06-27', '2022-07-11', 45783, 156)
(570, '2022-08-14', '2022-08-28', 90123, 912)

In [2]:
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('library.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 4: Execute the query to select all data from the 'patrons' table
cursor.execute('SELECT * FROM books')

# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
print("Field names:")
print(field_names)

# Step 8: Print the fetched rows
for row in rows:
    print(row)

# Step 9: Close the connection
conn.close()

Field names:
['id', 'title', 'author', 'genre', 'pub_year']
(638, 'Being Mortal', 'Atul Gawande', 'Non-Fiction', 2015)
(912, 'Educated', 'Tara Westover', 'Non-Fiction', 2018)
(322, 'Night', 'Elie Wiesel', 'Non-Fiction', 1956)
(156, 'Where the Wild Things Are', 'Maurice Sendak', 'Childrens', 1963)

In [3]:
#looking at schema:

import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('library.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 4: Execute the query to get the schema of the 'books' table
cursor.execute('PRAGMA table_info(books)')

# Step 5: Fetch all rows from the executed query
schema_info = cursor.fetchall()

# Step 6: Print the schema information
print("Schema of 'books' table:")
print("Column ID | Name | Type | Not Null | Default Value | Primary Key")
for column in schema_info:
    print(column)

# Step 7: Execute the query to select all data from the 'books' table
cursor.execute('SELECT * FROM books')

# Step 8: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 9: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 10: Print the field names
print("\nField names:")
print(field_names)

# Step 11: Print the fetched rows
print("\nData in 'books' table:")
for row in rows:
    print(row)

# Step 12: Close the connection
conn.close()

Schema of 'books' table:
Column ID | Name | Type | Not Null | Default Value | Primary Key
(0, 'id', 'INTEGER', 0, None, 0)
(1, 'title', 'TEXT', 0, None, 0)
(2, 'author', 'TEXT', 0, None, 0)
(3, 'genre', 'TEXT', 0, None, 0)
(4, 'pub_year', 'INTEGER', 0, None, 0)

Field names:
['id', 'title', 'author', 'genre', 'pub_year']

Data in 'books' table:
(638, 'Being Mortal', 'Atul Gawande', 'Non-Fiction', 2015)
(912, 'Educated', 'Tara Westover', 'Non-Fiction', 2018)
(322, 'Night', 'Elie Wiesel', 'Non-Fiction', 1956)
(156, 'Where the Wild Things Are', 'Maurice Sendak', 'Childrens', 1963)

In [1]:
import pandas as pd
import sqlite3

# Create DataFrame for employees
employees_data = {
    'emp_id': [1, 2, 3, 4, 5],
    'dept_id': [101, 102, 101, 103, 102],
    'year_hired': [2010, 2012, 2010, 2015, 2012]
}

employees_df = pd.DataFrame(employees_data)

# Connect to SQLite database (or create it)
conn = sqlite3.connect('company.db')

# Convert DataFrame to SQLite table
employees_df.to_sql('employees', conn, if_exists='replace', index=False)

# Verify the data by querying the table
cursor = conn.cursor()
print("Employees Table:")
cursor.execute('SELECT * FROM employees')
for row in cursor.fetchall():
    print(row)

# Close the connection
conn.close()

Employees Table:
(1, 101, 2010)
(2, 102, 2012)
(3, 101, 2010)
(4, 103, 2015)
(5, 102, 2012)

In [3]:
import sqlite3

# Step 2: Connect to SQLite database named 'company.db'
conn = sqlite3.connect('company.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 9: Execute the query to get the distinct count of dept_id and year_hired combinations
cursor.execute('SELECT COUNT(*)
FROM (
    SELECT DISTINCT dept_id, year_hired
    FROM employees
) AS distinct_combinations;')

# Step 10: Fetch the result
distinct_count = cursor.fetchone()

# Step 11: Print the distinct count
print("Distinct count of dept_id and year_hired combinations:", distinct_count[0])

# Step 12: Close the connection
conn.close()

OperationalError: wrong number of arguments to function COUNT()

In [7]:


# Step 12: Close the connection
import sqlite3

# Step 2: Connect to SQLite database named 'company.db'
conn = sqlite3.connect('company.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

# Step 9: Execute the query to get the distinct count of dept_id and year_hired combinations
cursor.execute('''
    SELECT DISTINCT dept_id, year_hired
    FROM employees
''')

# Step 10: Fetch the result
distinct_count = cursor.fetchone()

# Step 11: Print the distinct count
print("Distinct count of dept_id and year_hired combinations:", distinct_count[0])

# Step 12: Close the connection
conn.close()

Distinct count of dept_id and year_hired combinations: 101

In [10]:

import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('company.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

cursor.execute('''
    SELECT * FROM employees
''')


# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
print("Field names:", field_names)

# Step 8: Print the fetched rows
for row in rows:
    print(row)

# Step 9: Close the connection
conn.close()

Field names: ['emp_id', 'dept_id', 'year_hired']
(1, 101, 2010)
(2, 102, 2012)
(3, 101, 2010)
(4, 103, 2015)
(5, 102, 2012)

In [9]:

import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('company.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

cursor.execute('''
    SELECT DISTINCT dept_id, year_hired
    FROM employees
''')


# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
print("Field names:", field_names)

# Step 8: Print the fetched rows
for row in rows:
    print(row)

# Step 9: Close the connection
conn.close()

Field names: ['dept_id', 'year_hired']
(101, 2010)
(102, 2012)
(103, 2015)

In [11]:

import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('company.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

cursor.execute('''
    SELECT dept_id, year_hired, COUNT(*) as count
    FROM employees
    GROUP BY dept_id, year_hired
''')


# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
print("Field names:", field_names)

# Step 8: Print the fetched rows
for row in rows:
    print(row)

# Step 9: Close the connection
conn.close()

Field names: ['dept_id', 'year_hired', 'count']
(101, 2010, 2)
(102, 2012, 2)
(103, 2015, 1)

Field names: ['emp_id', 'dept_id', 'year_hired']
(1, 101, 2010)
(2, 102, 2012)
(3, 101, 2010)
(4, 103, 2015)
(5, 102, 2012)

In [1]:
import pandas as pd
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('company.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

cursor.execute('''
    SELECT dept_id, year_hired, COUNT(*) as count
    FROM employees
    GROUP BY dept_id, year_hired
''')


# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
df = pd.DataFrame(rows, columns=field_names)

# Step 9: Close the connection
conn.close()

df

   dept_id  year_hired  count
0      101        2010      2
1      102        2012      2
2      103        2015      1

In [2]:
import pandas as pd
import sqlite3

# Step 2: Connect to SQLite database named 'library.db'
conn = sqlite3.connect('company.db')

# Step 3: Create a cursor object
cursor = conn.cursor()

cursor.execute('''
    SELECT * FROM employees
    LIMIT 2
''')


# Step 5: Fetch all rows from the executed query
rows = cursor.fetchall()

# Step 6: Get the field names
field_names = [description[0] for description in cursor.description]

# Step 7: Print the field names
df = pd.DataFrame(rows, columns=field_names)

# Step 9: Close the connection
conn.close()

df

   emp_id  dept_id  year_hired
0       1      101        2010
1       2      102        2012

CREATE VIEW employee_hire_years AS
SELECT emp_id, name, year_hired
FROM employees;

then can select from employee_hire_years

SELECT id, name
FROM employee_hire_years

Views can change as the data gets updated

-- Select unique authors and genre combinations from the books table
SELECT DISTINCT author, genre
FROM books;
returns 249

SELECT * FROM books, returns 350

-- Your code to create the view:
CREATE VIEW library_authors AS
SELECT DISTINCT author AS unique_author
FROM books;

-- Select all columns from library_authors
SELECT * FROM library_authors